
@media (max-width: 576px) {

   .container {
      padding: 0 20px;
   }

   .header__nav {
      display: none;
   }

   .header__phone {
      display: none;
   }
   
   .header__container {
      display: block;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 30px;
   }

   .header__card {
      padding-bottom: 40px;
   }

   .header__logo {
      margin-right: 0;
      min-width: 100px;
      height: 100%;
   }

   .header__logo img {
      width: 150px;
   }

   .header__card {
      text-align: center;
   }

   .header__mod {
      margin-bottom: 10px;
      font-size: 12px;
   }

   .header__title {
      font-size: 30px;
   }

   .header__btm {
      flex-direction: column;
   }

   .header__btn {
      display: inline-block;
      margin-bottom: 30px;
      padding: 20px 35px;
      font-size: 12px;
   }

   .header__soc {
      justify-content: space-evenly;
      align-items: flex-start;
      /* display: block; */
   }

   .header__soc-link {
      margin-right: 0;
      font-size: 13px;
      left: 0;
   }

   .header__soc-link::after {
      top: -16%;
    left: -50%;
    width: 30px;
    height: 30px;
   }


   

}